.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: #fff;
  width: 70px;
  z-index: 200;
}

.sidebar-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  height:85px;
  text-decoration: none;
  color: black;
  transition:background-color 0.9s;
}
.sidebar-link:hover{
   background-color: rgb(240, 239, 239);
   cursor: pointer;
}
.sidebar-link:focus-visible{
  outline:2px solid #065fd4;
  outline-offset:-2px;
}
.sidebar-link img{
  height: 22px;
  margin-bottom: 4px;

}
.sidebar-link span{
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 10px;
}