.thumbnail{
  width: 100%;

}
/*==== CREATE 4 BY 3 VIDEOS GRID =====*/
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

.channel-picture, .video-info{
  display: inline-block;
}

.thumbnail-row{
  margin-bottom:12px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-picture{
  margin-right: 8px;
}

.profile-picture{
  width: 100%;
  border-radius: 50px;
}
.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-author, .video-stats{
  font-size: 12px;
  color: var(--text-color);
}

.video-author{
  margin-bottom: 4px;
}


